<div class="wrapper">
  <form class="form-signin">       
    <h2 class="form-signin-heading">Ingrese sus datos</h2>
    <input type="text" class="form-control" name="username" placeholder="CURP" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>      
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> <i class="fa fa-hand-point-right"></i>  Recordar Contraseña
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-check"></i> Ingresar</button>   
  </form>
</div>