<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">SFP-CPanel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{varhome}}">
        <a class="nav-link" routerLink="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown {{varbuscar}}">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i> Búsquedas</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" routerLink="/busqueda/serv_publico">Búsqueda de servidores públicos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Búsqueda de puestos en la APF</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fa fa-bar-chart"></i> Indicadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-th-list"></i> Reportes</a>
      </li>
    </ul>
  </div>
</nav>